/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Comfortaa', cursive; */
.section{
    margin-bottom:0px;
}

.container{
    margin-bottom:20px;
}
.bg-im{
    
    border: #1a2a3a 1px solid;
    margin:4px;
    width:270px;
    height: 300px;    
}

.img-wrap{
    margin-left: 26px;
    position: relative;
    background: #1a2a3a;
    width: 86%;
    text-align: center;
    border-radius:2px;
}

/* sombreamento na imagem */

.add-carinho{
    margin-left:29px;
    width: 268px;
    height: 299px;
    margin-top:5px;
    position: absolute;
    background: rgba(0,0,0,0.5);
display: none;
}

.btn-add{
    position: absolute;
    padding:5px;
    border: 4px solid white;
    color:white;
    font-family: 'Montserrat', sans-serif;
    margin-top:130px;
    width: 100px;
    margin-left:-45px;
    text-decoration: none;
   
}

.add-carinho:hover{
  display: block;
}
.btn-add:hover{
    transform: scale(1.1);
    opacity: 0.8;
}
.btn-add:link{
    text-decoration: none;
    color:white;
}

.img-wrap:hover .add-carinho{
    display: block;
    margin-left:15px;
    cursor: pointer;
}
/* nome do produto */

.title{
    font-family: 'Montserrat', sans-serif;

}

.price-new{
    font-family: 'Montserrat', sans-serif;

}

/* buttons */
.btn-details{
    transform: translateY(30px);
   margin-left:23px;
   padding:5px 15px 5px 15px;
   background:#1a2a3a;
   color:white;
   border-radius:5px;
   position: relative;
   margin-bottom: 3px;
   display: inherit;
   width: 300px;
   text-align: center;
}

.btn-details:nth-child(2){}
.btn-details:hover{
     color:#1a2a3a;
     background: transparent;
     border:2px solid #1a2a3a;
     position: initial;
}
.btn-details:link{
    text-decoration: none;
}

/* cards */

.card-product{
    width: 350px;
    height: 500px;
    text-align: center;
    display: flex;
    float:left;
    margin-left:10px;
    margin-top:10px;

}
