/* font-family: 'Text Me One', sans-serif; */
/* font-family: 'Amatic SC', cursive; */
/* font-family: 'BenchNine', sans-serif; */
footer{
    top:30px;
    width: 100%;
    height: 300px;
    background: #f4f4f4;
    overflow: auto;
}
.cards-bg{
    overflow: hidden;
    border-bottom: 2px solid #1a2a3a;
}

.cards-bg h1{
    margin-left:20px;
}
.cards-bg span{
    font-size: 25px;
}
.cards-bg ul{
   list-style: none;
   transform: translate(900px,-50px);
   margin-bottom: -40px;
}

.cards-bg li{
    display: inline;
    color:#1a2a3a;
    font-size:30px;
}


.about-bg{
 margin-top:10px;
}

.about-bg ul{
    float:left;
    list-style: none;
    margin-right: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    color:black;
}

.about-bg a{
    color:black;
}

.about-bg a:hover{
    text-decoration: none;
    color: #1a2a3a;
}

.about-bg ul li:nth-child(1){
    color:#1a2a3a;
    font-size:22px;
}

.about-bg button{
    background: #1a2a3a;
    border: 2px solid #f4f4f4;
    color:#f4f4f4;
    border-radius: 30px;
    padding:5px;
    margin-top:10px;
    margin-left:20px;
    cursor: pointer;
}
.about-bg button:hover{
    transform: scale(1.1);
    background: #f4f4f4;
    border: 2px solid #1a2a3a;
    color:#1a2a3a;
}
.ult-list-bg{
    transform: translate(470px,-90px);
}
.networks{
    transform: translate(175px,40px);
}
.networks img{
    width: 30px;
    height: 30px;
}

.networks li{
    display: inline;
}

.app-bg{
   
    transform: translate(5px,80px);
   font-size: 18px;
}
