<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payment</title>
</head>
<body>
    <% include partials/head%>
    <% include partials/header%>
    <% include partials/nav%>
    <div class="container">    
            <h2>Payment</h2>
            <form class="container" action="/finish-order" method="POST">
                <input type="hidden" name="orderId" value="<%= id %>">
                <% var d = new Date(day, month, year) %>
                <input type="hidden" name="date" value="<%= d %>">
                <input type="hidden" name="price" value="<%= price %>">
                <div class="form-group">
                    <label class="lbl-bg" for="address">Address for shipping</label>
                    <input class="form-control" type="text" name="address" id="address">
                </div>

                <div class="row">
                    <div class="offset-5 col-4">
                        <button class="btn btn-primary" type="submit" id="btn-adicionar" >Pay</button>
                    </div>
                </div>
        </form>
    </div>
    <!-- <% include partials/footer%> -->
</body>
</html>