<% include partials/head%>
<% include partials/header%>

<article class="formulario-bg">
    <div>
        <p class="btn-bg"><span class="btn btn-bg-formulario">Sign up</span> or <span class="btn" >Sign in</span></p>
    </div>
    <form action="sign-up" method="POST">
        <label for="name"> Name
            <input type="text" placeholder="name" minlength="8">
        </label>
        <label for="e-mail">Email
            <input type="email" placeholder="xxxx@email.com">
        </label>
        <label for="pass">Password
            <input type="password" placeholder="password" maxlength="12">
        </label>
        <label>Male
            <input type="radio" name="genero">
        </label>
        <label>Female 
            <input type="radio" name="genero">
        </label>
        
        <button class="btn-form-bg btn-3"type="submit">Sign in</button>
    </form>
</article>

<% include partials/footer%>
