<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/estilo1.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|BenchNine:700|Text+Me+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
    <script src="js/jquery.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
    <title>Comic Shirt</title>
</head>

<body>
    <!-- Cabeçalho -->
    <header>
        <!-- Barra principal -->
        <div class="bar-princ">
            <div class="logo">
                <h1> Comic Shirt</h1>
            </div>
            <div class="busca">
                <input type="search" name="pesquisa" placeholder="Search your desires here">
                <i class="fas fa-search"></i>
            </div>
            <div class="login">
                <p>
                    <a href="#"> Sign in or sign up &nbsp;
                        <i class="far fa-heart"></i> &nbsp;
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </p>
            </div>
            <ul>
                <!-- li com suas divs internas -->
                <li class="conteu-div-li"> News
                    <div class="navbar-list">
                        
                        <ul>
                            <li>Draw's</li>
                            <li>Hq's</li>
                            <li>Disney</li>
                            <li>Marvel</li>
                            <li>Dc</li>
                        </ul>
                        <ul>
                            <li> Highlights </li>
                            <li> Promotions </li>
                            <li> Postings </li>
                            <li> Trends </li>
                            <li> Warnner </li>
                            <li> Series </li>
                        </ul>
                        <ul>
                            <li> Packages </li>
                            <li> Tips </li>
                            <li> Order </li>
                            <li> 2019 </li>
                            <li> Suggestions </li>
                        </ul>
                        
                        <img src="img/camisetas-masc_0028_333276_camiseta-rick-and-morty-nasa-03-m.webp" alt="">
                        <div class="novidade">
                            <h2>Most Sold</h2>
                            <p>Shirt: Rick and Morty </p>
                            <ul>
                                <li>P</li>
                                <li>M</li>
                                <li>G</li>
                            </ul>
                            <p> Price $ 40,00
                                <i class="fas fa-shipping-fast" style="color:rgb(47, 192, 47)"></i>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="conteu-div-li"> Female
                    <div class="navbar-list">
                        
                        <ul>
                            <li>Draw's</li>
                            <li>Hq's</li>
                            <li>Disney</li>
                            <li>Marvel</li>
                            <li>Dc</li>
                        </ul>
                        <ul>
                            <li> Highlights </li>
                            <li> Promotions </li>
                            <li> Postings </li>
                            <li> Trends </li>
                            <li> Warnner </li>
                            <li> Series </li>
                        </ul>
                        <ul>
                            <li> Packages </li>
                            <li> Tips </li>
                            <li> Order </li>
                            <li> 2019 </li>
                            <li> Suggestions </li>
                        </ul>
                        
                        <img src="img/camisetas-masc_0028_333276_camiseta-rick-and-morty-nasa-03-m.webp" alt="">
                        <div class="novidade">
                            <h2>Most Sold</h2>
                            <p>Shirt: Rick and Morty </p>
                            <ul>
                                <li>P</li>
                                <li>M</li>
                                <li>G</li>
                            </ul>
                            <p> Price $ 40,00
                                <i class="fas fa-shipping-fast" style="color:rgb(47, 192, 47)"></i>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="conteu-div-li"> Male
                    <div class="navbar-list">
                        
                        <ul>
                            <li>Draw's</li>
                            <li>Hq's</li>
                            <li>Disney</li>
                            <li>Marvel</li>
                            <li>Dc</li>
                        </ul>
                        <ul>
                            <li> Highlights </li>
                            <li> Promotions </li>
                            <li> Postings </li>
                            <li> Trends </li>
                            <li> Warnner </li>
                            <li> Series </li>
                        </ul>
                        <ul>
                            <li> Packages </li>
                            <li> Tips </li>
                            <li> Order </li>
                            <li> 2019 </li>
                            <li> Suggestions </li>
                        </ul>
                        
                        <img src="img/camisetas-masc_0028_333276_camiseta-rick-and-morty-nasa-03-m.webp" alt="">
                        <div class="novidade">
                            <h2>Most Sold</h2>
                            <p>Shirt: Rick and Morty </p>
                            <ul>
                                <li>P</li>
                                <li>M</li>
                                <li>G</li>
                            </ul>
                            <p> Price $ 40,00
                                <i class="fas fa-shipping-fast" style="color:rgb(47, 192, 47)"></i>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    
    <!-- Corpo -->
    <main>
        <!-- Carousel -->
        <div class="carousel">
            <span class="prev" id="prev">
                <i class="fas fa-angle-left"></i>
            </span>
            <div class="itens">
                <ul>
                    <li class="item">
                        <img alt="comicshirt" src="img/banner-CAMISETA2-980x400.jpg">
                    </li>
                    <li class="item">
                        <img alt="comicshirt" src="img/bannerDesktopV2-1.png">
                    </li>
                    <li class="item">
                        <img alt="comicshirt" src="img/bannerDesktopV2-copiar.png">
                    </li>
                    <li class="item">
                        <img alt="comicshirt" src="img/targs-camiseta-feminina-black-friday.jpg">
                    </li>
                </ul>
            </div>
            <span class="next" id="next">
                <i class="fas fa-angle-right"></i>
            </span>
        </div>
        
        <!-- Cards -->
        <section>
            <div class="container">
                <% products.forEach(function(product){ %>
                    <figure class="card card-product">
                        <div class="img-wrap"><img src="<%=contact.url %>"></div>
                        <figcaption class="info-wrap">
                            <h4 class="title"><%=product.name %></h4>
                        </figcaption>
                        <div class="bottom-wrap">
                            <a href="" class="btn btn-sm btn-primary float-right">Order Now</a>	
                            <div class="price-wrap h5">
                                <span class="price-new"><%=product.price %></span>
                            </div> <!-- price-wrap.// -->
                        </div> <!-- bottom-wrap.// -->
                    </figure>
                    <% });  %>
                </div>
        </section>
        
        <section>
            <div class="anuncio-bg">
                <div>
                    <i class="fas fa-archive"></i>
                    <p>Promotions on up to
                        <b>10x</b>
                    </p>
                </div>
                <div>
                    <i class="fas fa-award"></i>
                    <p>Great products
                        <b> quality </b>
                    </p>
                </div>
                <div>
                    <i class="fas fa-box-open"></i>
                    <p>Get in until
                        <b> 5 days</b> useful</p>
                    </div>
                    <div>
                        <i class="fab fa-cc-mastercard"></i>
                        <p>We accept all type of card
                        </p>
                    </div>
                </div>
            </section>
        </main>
        
        <% include partials/footer%>
        <script src="js/paginainicial.js"></script>
    </body>
    
    </html>