<link rel="stylesheet" href="../css/carousel.css">
<script src="../js/jquery.js"></script>
<script src="../js/paginainicial.js"></script>
<div class="carousel">
        <span class="prev" id="prev">
            <i class="fas fa-angle-left"></i>
        </span>
        <div class="itens">
            <ul>
                <li class="item">
                    <img alt="comicshirt" src="img/banner-CAMISETA2-980x400.jpg">
                </li>
                <li class="item">
                    <img alt="comicshirt" src="img/bannerDesktopV2-1.png">
                </li>
                <li class="item">
                    <img alt="comicshirt" src="img/bannerDesktopV2-copiar.png">
                </li>
                <li class="item">
                    <img alt="comicshirt" src="img/targs-camiseta-feminina-black-friday.jpg">
                </li>
            </ul>
        </div>
        <span class="next" id="next">
            <i class="fas fa-angle-right"></i>
        </span>
    </div>