<link rel="stylesheet" href="../css/rodape.css">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|BenchNine:700|Text+Me+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<footer>
    <div class="cards-bg">
        <h1>
                We parcel in the card in 10x <span>without interest</span></h1>
        <ul>
            <li><i class="fab fa-cc-amazon-pay"></i></li>
            <li><i class="fab fa-cc-apple-pay"></i></li>
            <li><i class="fab fa-cc-amex"></i></li>
            <li><i class="fab fa-cc-diners-club"></i></li>
            <li><i class="fab fa-cc-discover"></i></li>
            <li><i class="fab fa-cc-jcb"></i></li>
            <li><i class="fab fa-cc-mastercard"></i></li>
            <li><i class="fab fa-cc-paypal"></i></li>
            <li><i class="fab fa-cc-stripe"></i></li>
            <li><i class="fab fa-cc-visa"></i></li>
        </ul>
    </div>

    <div class="about-bg">
        <ul>
            <li><b>Institutional</b></li>
            <li><a href="#">Sobre a comicshirt</a></li>
            <li><a href="#">Investor Relations</a></li>
            <li><a href="#">privacy policy</a></li>
            <li><a href="#">Work with us</a></li>
            <li><a href="#">Affiliate program</a></li>
            <li><a href="#">Corporate Solutions</a></li>
            <li><a href="#">Regulations</a></li>  
        </ul>
        <ul>
            <li><b>Help</b></li>
            <li><a href="#">Deliveries</a></li>
            <li><a href="#">Payments</a></li>
            <li><a href="#">Exchanges</a></li>
            <li><a href="#">Repentance</a></li>
            <li><a href="#">Cancellations</a></li>
            <li><a href="#">My requests</a></li>
            <li><a href="#">Digital Security Guide</a></li>
         </ul>
        <ul>
            <li><b>ComicShirt Companies</b></li>
            <li><a href="#">Marketplace Netshoes</a></li>   
        </ul>

        <ul>
            <li><b>Relationship Center</b></li>
            <li><button>GET YOUR DOUBTS</button></li>   
        </ul>
        <ul class="ult-list-bg">
                <li><b>Stay logged in</b>
                    <ul class="networks">
                        <li><a href="#"><img src="../img/face.png" alt="#"></a></li>
                        <li><a href="#"><img src="../img/wpp.png" alt=""></a></li>
                        <li><a href="#"><img src="../img/twitter.png" alt=""></a></li>
                        <li><a href="#"><img src="../img/insta.png" alt=""></a></li>
                    </ul>
                </li>
                <li>
                    <p class="app-bg"><b><a href="#"><i class="fas fa-mobile-alt"></i>App ComicShirt</a></b></p>
                </li>   
            </ul>
    </div>
</footer>