<!-- <link rel="stylesheet" href="../css/rodape.css">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|BenchNine:700|Text+Me+One" rel="stylesheet">
<div class="rodape-bg">
        <link rel="stylesheet" href="../css/rodape.css">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|BenchNine:700|Text+Me+One" rel="stylesheet">
        <div class="rodape-bg">
                <div class="rodape-1">
                     <div>
                         <ul>
                             <li>Deliveries
                                 <img src="../img/trans.png" alt="caixa">
                             </li>
                             <li>Payments
                                 <img src="../img/money.png" alt="">
                             </li>
                             <li>Withdrawal
                                 <img src="../img/caixa.png" alt=""> 
                             </li>
                         </ul>
                     </div>
                     <section>
                         <p>Receive our news every time by your email.</p>
                         <label> Email <input type="email" placeholder="xxxx@email.com"></label>
                         <button type="button">Submit</button>
                     </section>
                </div>
        
            </div>
</div> -->