<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="../css/header.css">
<header>
    <div class="jumbotron jumbotron-fluid text">
        <div class="container">
            <h1>ComicShirt</h1>
            <input class="search-bg" type="text" placeholder="search"><p class="btn-a"><a  href="#"><i style="color:#1a2a3a" class="fas fa-search"></i></a></p>
            <ul>
                <li><a class="link-bg" href="/sign-up">sign UP</a></li>
            </ul>
        </div>
    </div>
</header>