<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Trabalho WEB</h1>
            <blockquote class="blockquote text-right">
                <p class="mb-0">"Enthusiasm is the greatest strength of the soul. Keep it and you will never lack of the power to get what you want. "</p>
                <footer class="blockquote-footer"><cite title="Source Title">Napoleon Hill</cite></footer>
            </blockquote>
        </div>
    </div>
</header>