/* font-family: 'Nanum Gothic', sans-serif; */
.text{
    background-color: #1a2a3a;
    color:white;
}

.container h1{
    transform: translate(440px);
    padding:10px;
    background-color: white;
    color:#1a2a3a;
    width: 250px;
    box-shadow: 1px 1px 10px black;
    text-align: center;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.container ul{
    list-style: none;
    transform: translate(-120px,-50px);
    font-family: 'Nanum Gothic', sans-serif;
}

.container li{
    margin-left:5px;
    display: inline;
 
    padding:5px;
    text-decoration: none;
    color:white;
}
.container a{
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration: none;
    color:white;
}
.container li a:link {
    text-decoration: none;
    color:white;
}
.link-bg{
    font-family: 'Nanum Gothic', sans-serif;
font-size:30px;}

.link-bg:hover{
   color:gray;
   text-shadow:1px 1px 10px black;
}

/* input search */

.search-bg{
    width: 300px;
    border-radius:5px;
    border:transparent;
    padding:5px;
    transform: translate(850px,50px);
}

.btn-a{
    background: white;
    padding:10px;
    border-radius:5px;
    width:40px;
    text-align: center;
    transform: translate(1160px,10px);
}