/* font-family: 'Text Me One', sans-serif; */
/* font-family: 'Amatic SC', cursive; */
/* font-family: 'BenchNine', sans-serif; */

.cadastro-bg{
    margin-top:40px;
    width: 800px;
    height: 450px;
    background: #1a2a3a;
    margin-left:calc(50% - 400px);
}

.img-cadastro{
 width: 350px;
 height: 450px;
 background: gray;
 opacity: 0.7;
 font-family: 'Amatic SC', cursive;
 font-size: 30px;
 text-align: center;
 float: left;
}

.img-cadastro p{
    transform:translateY(20px);
    color:white;
    opacity: 1;
}

.img-cadastro img{
    transform: translateY(-10px);
    width: 250px;
    height: 250px;;
}
.img-cadastro ul{
    transform: translate(-14px,0px);
    list-style: none;
}

.img-cadastro ul li{
    display: inline;
}
.img-cadastro ul li img{
    width: 30px;
    height: 30px;
}
/* formulario - part2 - form */
.formulario-bg{
    width: 450px;
    height: 450px;
    margin-left:43.6%;
    text-align: center;
    color:white;
    font-family: 'Text Me One', sans-serif;
}
.btn-bg{
    transform: translateY(30px);
}

.btn{
    border-bottom:1px solid  #6fe2cc;;
    padding:10px;
}

.btn:first-child{
    border:transparent;
}

.formulario-bg form{
    transform: translate(-75px,100px);
}

.formulario-bg form label{
    margin-bottom: 3px;
    display:block;
    transform: translate(-95px);
}

.lb-email{
    margin-left:25px;
}
.formulario-bg form input{
    width: 330px;
    margin-bottom:25px;
    transform: translate(77px);
    padding:10px;
    background-color: transparent;
    border-top:transparent;
    border-left:transparent;
    border-right:transparent;
    /* border-bottom:1px solid #6fe2cc; */
    border-bottom: rgba(111,226,204,0.7) 1px solid;
}

.formulario-bg label:nth-child(2) input{
   transform: translate(18px);
}

.btn-form-bg{
    flex: 1 1 auto;
    width: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:12px;
    padding-bottom:12px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    border:transparent;
    cursor: pointer;
    transform: translate(80px,50px);
    text-shadow: 1px 1px gray; 
    font-family: 'Text Me One', sans-serif;
    font-size: 18px;
}

.btn-form-bg:hover{
    background-position: right center; 
}

.btn-3{
    background-image: linear-gradient(to right, #a0d6b4 0%, #4883a0 51%, #84fab0 100%);
  }